/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark Blue: hsl(240, 38%, 20%)
- Grayish Blue: hsl(240, 18%, 77%)

## Typography

### Body Copy

- Font size: 32px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 300, 500, 700 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --DarkBlue: hsl(240, 38%, 20%);
  --GrayishBlue: hsl(240, 18%, 77%);
}

body {
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
}

.app-container {
  width: 100%;
  min-width: 320px;
  max-width: 600px;
  height: 100vh;
  position: relative;
}

img.bg-images {
  width: 100%;
  position: absolute;
  z-index: -1;
}

img.bg-images:nth-of-type(1) {
  width: 90%;
  left: 21px;
  top: 29px;
}

img.bg-images:nth-of-type(2) {
  top: 56%;
  left: 43%;
  width: 16%;
}

img.bg-images:nth-of-type(3) {
  bottom: 0;
  width: 70%;
}

.user-image {
  position: relative;
  width: 70%;
  min-width: 200px;
  margin: auto;
}

.user-image .profile-picture {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 58px;
  border-radius: 5px;
}

.user-testimonial {
  text-align: center;
  width: 80%;
  margin: auto;
}

.user-testimonial p {
  margin-top: 80px;
  margin-bottom: 20px;
  line-height: 1.4;
  color: var(--DarkBlue);
  font-weight: 300;
}

.user-testimonial span {
  display: block;
}

span.user-name {
  font-weight: 700;
  color: var(--DarkBlue);
}

span.user-title {
  font-weight: 500;
  color: var(--GrayishBlue);
  margin-top: 5px;
}
/*--- button------- */
.control-buttons {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: -5px 5px 23px 5px var(--GrayishBlue);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 29%;
  position: absolute;
  bottom: -5%;
  left: 34%;
}

.control-buttons img {
  width: 13px;
  height: 15px;
}

.control-buttons img:hover {
  cursor: pointer;
}

/* ------hide section---------- */
.hide {
  display: none;
}
